.body__container--grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(1, 1fr);
}

.header {
	position: relative;
}

.header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__img--absolute {
	position: absolute;
	/* width: 100%; */
	top: 80px;
}

.nav__img--size {
	width: 100px;
}

.nav-image {
	width: 350px;
	height: auto;
}

.header__nav--pad20 {
	padding: 20px;
}

.nav__ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	min-width: 55%;
}

.nav__li--size {
	font-size: min(16px, 5vh);
}

.li__anchor {
	color: var(--neutral-white);
	text-decoration: none;
}

.li__anchor:hover {
	color: var(--accent-cyan);
	text-decoration: underline;
}

.d-flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.flex-row {
	flex-direction: row;
}

.align-items-start {
	align-items: flex-start;
}

.align-items-end {
	align-items: flex-end;
}

.align-self-start {
	align-self: flex-start;
}

.align-self-end {
	align-self: flex-end;
}

.align-self-center {
	align-self: center;
}

.align-items-center {
	align-items: center;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-betweem {
	justify-content: space-between;
}

.text-center {
	text-align: center;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.main__intro-background--size {
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.main__image--index2 {
	z-index: 2;
}

.main__dark-blue-intro--bg {
	background-color: var(--darkblue-primary-intro);
}

.main__dark-blue--bg {
	background-color: var(--darkblue-primary-main);
	/* background-image: url(../assets/svg/bg-curvy-mobile.svg);
	background-repeat: no-repeat;
	width: 100%;
	background-size: contain; */
}

.main__h3--fontsize {
	font-size: max(3.1rem, 2.2vw);
	line-height: 5rem;
	margin: 0;
}

.main-p--size {
	font-size: max(1.8rem, 2.2vw);
	text-align: center;
	font-weight: 300;
	margin: 20px 40px;
}

.main__p--lineheight {
	line-height: 3rem;
}

.main__header_p--size {
	margin: 0;
	font-size: 1.5rem;
}

.main__p--pb20 {
	padding-bottom: 20px;
}

.pad30 {
	padding: 30px;
}

.main__group--px {
	padding-left: 40px;
	padding-right: 40px;
}

.pad15 {
	padding-bottom: 15px;
	padding-top: 15px;
}

.pad10 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.main__button-state {
	width: 60%;
	height: 80px;
	padding: 15px;
	font-size: 1.8rem;
	border-radius: 40px;
	background-color: var(--accent-cyan);
	color: white;
	border: none;
	font-weight: 600;
	cursor: pointer;
	outline: none;
}

.main__button-state:hover {
	background-color: var(--accent-blue);
}

.main__group {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 80px;
}

.main__group:last-of-type {
	margin-bottom: 100px;
}

.main__anchor {
	display: flex;
	align-items: center;
	color: var(--accent-cyan);
	text-decoration: none;
	border-bottom: 1px solid;
	padding-bottom: 5px;
}

.main__anchor:hover {
	color: var(--accent-cyan-chroma);
}

.main__anchor:active {
	color: var(--accent-cyan-chroma);
}

.main__anchor:focus {
	color: var(--accent-cyan-chroma);
}

.main__anchor__img {
	padding-left: 10px;
}

.main-groups {
	background-color: var(--darkblue-primary-main);
	margin: 140px 0;
}

.main__p--size {
	font-size: 1.8rem;
	padding: 20px 40px 0 40px;
	margin: 0;
}

.feedbacks {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: space-between;
	margin: 200px 0 400px 0;
	position: relative;
}

.feedback__group {
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 80px;
	margin-right: 80px;
	padding: 30px;
	background-color: var(--darkblue-primary-testimonials);
	border-radius: 5px;
	box-shadow: 1px 1px 10px #fff1;
}

.feedbacks > div.feedback-quote {
	position: absolute;
	left: 75px;
	top: -10px;
}

.feedback-quote > img.quote-image {
	width: 30px;
}

.feedback__paragraph {
	line-height: 30px;
	font-size: 1.3rem;
}

.contributer-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.contributer-avatar {
	width: 45px;
	height: auto;
	border-radius: 50%;
}

.user-paragraph {
	margin: 0;
	margin-bottom: 3px;
	font-size: 1.2rem;
	font-weight: 600;
	letter-spacing: 0.1rem;
}

.user__small--size {
	font-size: 0.8rem;
	letter-spacing: 0.1rem;
	color: lightgray;
}

.user--info-pad {
	padding-left: 10px;
}

.relative-div {
	position: relative;
}

.form-absolute {
	position: relative;
	bottom: 200px;
	background-color: var(--darkblue-primary-intro);
	border-radius: 10px;
	padding: 40px 60px;
	margin: 30px 40px;
	box-shadow: 10px 5px 30px #0003;
}

.form__submit--flex {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	align-items: center;
}

.footer-wrapper {
	background-color: var(--darkblue-primary-footer);
}

.form__input--custom {
	border-radius: 50px;
	margin-bottom: 20px;
	margin-top: 10px;
	padding: 30px 30px 30px 40px;
	outline: none;
	border: 0px;
	font-size: 1.2rem;
	color: #363636;
}

.form__input--custom::placeholder {
	color: lightgray;
}

.form__button--custom {
	border-radius: 50px;
	outline: none;
	border: 0px;
	padding: 30px;
	background-image: linear-gradient(
		to left,
		var(--accent-blue),
		var(--accent-cyan)
	);
	color: #fff;
	font-size: 1.4rem;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

.footer__info--margin {
	margin: 80px 30px 30px 30px;
}

.footer__info--margin > ul {
	padding: 10px 0;
}

.footer__info__logo {
	margin-left: 10px;
}

.footer__img--size {
	width: 300px;
}

.footer__info__icon {
	margin-top: 20px;
}

.footer__img-left-icon--size {
	width: 30px;
}

.footer__info__paragraph {
	margin: 0 0 0 40px;
	font-size: 2rem;
	line-height: 3rem;
}

.unordered__reset {
	list-style: none;
}

.unordered__item {
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 2rem;
}

.bg-curvy-background {
	background-image: url("/assets/svg/bg-curvy-mobile.svg");
}

.main__productive-main--img {
	width: auto;
}

.main__header--margin {
	margin-top: 30px;
}

.main__header--fontsize {
	font-size: 2rem;
	line-height: 3rem;
	padding-top: 20px;
	margin: 0;
	text-align: center;
}

.main__header--image {
	width: 100px;
	margin-bottom: 20px;
}

.form__header {
	font-size: 1.9rem;
	margin: 0;
	padding: 10px 0;
}

.form__paragraph {
	padding: 20px 0 30px 0;
	margin: 0;
	line-height: 2.4rem;
	font-size: 1.5rem;
}

.footer-wrapper-social {
	padding: 0 20px 0 20px;
}

.footer__social-media {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer__social-media--size {
	width: 45px;
	margin-right: 20px;
}

.footer__social-media--size:last-of-type {
	margin: 0;
}

@media (min-width: 1280px) {
	.feedbacks {
		flex-direction: row;
		justify-content: space-evenly;
	}

	.feedback__group {
		margin: 20px 50px;
		width: auto;
	}

	.feedbacks > div.feedback-quote {
		left: 60px;
		top: -40px;
	}

	.feedback-quote > img.quote-image {
		width: 50px;
	}

	.footer-wrapper-descriptions {
		flex-direction: row;
		justify-content: space-between;
	}

	.footer__info__paragraph {
		font-size: 1.3rem;
	}

	p.fylo-footer-wrapper-descriptions {
		/* width: 350px; */
		margin-right: 40px;
	}

	.unordered__reset > li {
		margin-right: 40px;
	}

	.footer-wrapper-social {
		display: flex;
		justify-content: space-evenly;
	}

	.list__items {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: baseline;
	}

	.relative-div {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.form-absolute {
		width: 800px;
		padding: 40px 80px;
	}

	.form__header {
		font-size: 2rem;
		margin: 0;
		padding: 10px 0;
	}

	.form__paragraph {
		padding: 20px 0 30px 0;
		margin: 0 20px;
		line-height: 1.5rem;
	}

	.form__submit--flex {
		display: grid;
		grid-template-columns: 2.5fr 1fr;
		grid-template-rows: 1fr;
		align-items: center;
	}

	.user-paragraph {
		margin-bottom: 0;
	}

	.form__input--custom {
		margin: 0;
		margin-right: 20px;
	}

	.nav__ul {
		min-width: 20%;
	}
	.header__nav--pad20 {
		padding: 35px;
	}
	.nav-image {
		width: 600px;
	}
	.main__h3--fontsize {
		line-height: auto;
	}
	.main__h3--fontsize {
		/* max-width: 50%; */
	}
	.main__p--lineheight {
		margin: 0;
	}

	.main__description--width {
		width: 85%;
	}

	.groups-desktop-flex {
		display: flex;
	}

	.productive-main-group {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 4rem;
	}

	.main__header--fontsize {
		font-size: 2.3rem;
		line-height: 3rem;
		margin: 0;
		text-align: start;
	}

	.main__header--image {
		width: 120px;
	}

	.main__group--px {
		padding-left: 80px;
		padding-right: 80px;
	}
}
