.container {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(1, 1fr);
}

.header {
	position: relative;
}

.header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav--padding20 {
	padding: 20px;
}

.nav__ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	width: 60%;
}

.nav__li--size {
	font-size: min(16px, 5vh);
}

.nav__li__anchor {
	color: var(--neutral-white);
	text-decoration: none;
}

.nav__li__anchor:hover {
	color: var(--accent-cyan);
	text-decoration: underline;
}


.d-flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.flex-row {
	flex-direction: row;
}

.align-items-center {
	align-items: center;
}

.justify-content-center {
	justify-content: center;
}

.align-self-center {
	align-self: center;
}

.text-center {
	text-align: center;
}

.nav__image--index {
	z-index: 2;
}

.image__curry--absolute {
	/* position: absolute; */
	width: 100%;
	bottom: 0px;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--darkblue-primary-main);
}

.main__header--fontsize {
	font-size: max(24px, 5vw);
	line-height: 35px;
}

.main__paragraph--lineheight {
	line-height: 25px;
}

.pad30 {
	padding: 30px;
}

.pad15 {
	padding-bottom: 15px;
	padding-top: 15px;
}

.button__section {
	width: 250px;
	padding: 15px;
	border-radius: 40px;
	background-color: var(--accent-cyan);
	color: white;
	border: none;
	font-weight: 600;
	cursor: pointer;
	outline: none;
}

.button__section:hover {
	background-color: var(--accent-blue);
}

.intro-background {
	/* background-image: url('../assets/svg/bg-curvy-mobile.svg'); */
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}
