.body__container--grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(1, 1fr);
}

.header {
	position: relative;
}

.header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__img--absolute {
	position: absolute;
	width: 560px;
	top: 150px;
}

.nav__img--size {
	width: 100px;
}

.nav-image {
	width: 350px;
	height: auto;
}

.header__nav--pad20 {
	padding: 20px;
}

.nav__ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	min-width: 55%;
}

.nav__li--size {
	font-size: min(16px, 5vh);
}

.li__anchor {
	color: var(--neutral-white);
	text-decoration: none;
}

.li__anchor:hover {
	color: var(--accent-cyan);
	text-decoration: underline;
}

.d-flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.flex-row {
	flex-direction: row;
}

.align-items-start {
	align-items: flex-start;
}

.align-items-end {
	align-items: flex-end;
}

.align-self-start {
	align-self: flex-start;
}

.align-self-end {
	align-self: flex-end;
}

.align-self-center {
	align-self: center;
}

.align-items-center {
	align-items: center;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-betweem {
	justify-content: space-between;
}

.text-center {
	text-align: center;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.main__intro-background--size {
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.main__image--index2 {
	z-index: 2;
}

.main__dark-blue-intro--bg {
	background-color: var(--darkblue-primary-intro);
}

.main__dark-blue--bg {
	background-color: var(--darkblue-primary-main);
}

.main__h3--fontsize {
	font-size: max(24px, 2.2vw);
	line-height: 35px;
}

.main__p--lineheight {
	line-height: 25px;
}

.pad30 {
	padding: 30px;
}

.pad15 {
	padding-bottom: 15px;
	padding-top: 15px;
}

.main__button-state {
	width: 250px;
	padding: 15px;
	border-radius: 40px;
	background-color: var(--accent-cyan);
	color: white;
	border: none;
	font-weight: 600;
	cursor: pointer;
	outline: none;
}

.main__button-state:hover {
	background-color: var(--accent-blue);
}

.main__group {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main__anchor {
	display: flex;
	align-items: center;
	color: var(--accent-cyan);
	text-decoration: none;
	border-bottom: 1px solid;
	padding-bottom: 5px;
}

.main__anchor:hover {
	color: var(--accent-cyan-chroma);
}

.main__anchor:active {
	color: var(--accent-cyan-chroma);
}

.main__anchor:focus {
	color: var(--accent-cyan-chroma);
}

.main__anchor__img {
	padding-left: 10px;
}

.feedbacks {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: space-between;
	margin: 200px 0;
	position: relative;
}

.feedback-group {
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 80px;
	margin-right: 80px;
	padding: 30px;
	background-color: var(--darkblue-primary-testimonials);
	border-radius: 5px;
	box-shadow: 1px 1px 10px #fff1;
}

.feedbacks > div.feedback-quote {
	position: absolute;
	left: 75px;
	top: -10px;
}

.feedback-quote > img.quote-image {
	width: 30px;
}

.feedback__paragraph {
	line-height: 30px;
	font-size: 15px;
}

.contributer-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.contributer-avatar {
	width: auto;
	height: 35px;
	border-radius: 50%;
}

.user-paragraph {
	margin: 0px;
	margin-bottom: 10px;
}

.user--info-pad {
	padding-left: 10px;
}

.relative-div {
	position: relative;
}

.form-absolute {
	position: relative;
	bottom: 130px;
	background-color: var(--darkblue-primary-testimonials);
	border-radius: 10px;
	padding: 40px 60px;
	margin: 20px 50px;
}

.footer-wrapper {
	background-color: var(--darkblue-primary-footer);
}

.form__input--custom {
	border-radius: 50px;
	margin-bottom: 20px;
	margin-top: 10px;
	padding: 20px;
	padding-left: 30px;
	outline: none;
	border: 0px;
	font-size: 1rem;
	color: #363636;
}

.form__button--custom {
	border-radius: 50px;
	outline: none;
	border: 0px;
	padding: 20px;
	background-image: linear-gradient(
		to left,
		var(--accent-blue),
		var(--accent-cyan)
	);
	color: #fff;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

.footer__info--margin {
	margin: 30px;
}

.footer__info--margin > ul {
	padding: 10px 0;
}

.footer__info__logo {
	margin-left: 10px;
}

.footer__info__icon {
	margin-top: 20px;
}

.footer__info__paragraph {
	margin: 0px;
	margin-left: 20px;
}

.unordered__reset {
	list-style: none;
}

.unordered__item {
	margin-top: 30px;
	margin-bottom: 30px;
}

.bg-curvy-background {
	background-image: url("/assets/svg/bg-curvy-mobile.svg");
}

@media (min-width: 1280px) {
	.feedbacks {
		flex-direction: row;
		justify-content: space-evenly;
	}

	.feedback-group {
		margin: 0;
		width: 500px;
	}

	.feedbacks > div.feedback-quote {
		left: 60px;
		top: -40px;
	}

	.feedback-quote > img.quote-image {
		width: 50px;
	}

	.footer-wrapper-descriptions {
		flex-direction: row;
		justify-content: space-between;
	}

	p.fylo-footer-wrapper-descriptions {
		width: 350px;
		margin-right: 40px;
	}

	.unordered__reset > li {
		margin-right: 40px;
	}

	.footer-wrapper-social {
		display: flex;
		justify-content: space-evenly;
	}

	.list__items {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: baseline;
	}

	.nav__ul {
		min-width: 20%;
	}
	.header__nav--pad20 {
		padding: 35px;
	}
	.nav-image {
		width: 600px;
	}
	.main__h3--fontsize {
		line-height: auto;
	}
	.main__h3--fontsize {
		/* max-width: 50%; */
	}
	.main__p--lineheight {
		/* max-width: 50%; */
	}

	.groups-desktop-flex {
		display: flex;
	}
	.productive-main-group {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
}
