:root {
	--scale: 1.333;
	/* Don't change the lines below, you only need to change the --scale above. */
	--size-l-1: calc(1rem * var(--scale));
	--size-l-2: calc(var(--size-l-1) * var(--scale));
	--size-l-3: calc(var(--size-l-2) * var(--scale));
	--size-l-4: calc(var(--size-l-3) * var(--scale));
	--size-l-5: calc(var(--size-l-4) * var(--scale));
	--size-l-6: calc(var(--size-l-5) * var(--scale));
	--size-l-7: calc(var(--size-l-6) * var(--scale));
	--size-s-1: calc(1rem / var(--scale));
	--size-s-2: calc(var(--size-s-1) / var(--scale));
	--size-s-3: calc(var(--size-s-2) / var(--scale));
}
